@import 'core/variables';
@import 'core/mixins';

@import 'components/series-card';
@import 'components/favorite-card';
@import 'layout/main-page';

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: $font-general;
	font-weight: normal;
}
