@import 'core/settings';
@import 'components/series-card';
@import 'layout/main-page';
@import 'layout/results-section';

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}
