<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=500, initial-scale=1">
        <title>Adalab Web Starter Kit</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <main class="main-page">
            <section class="search__section">
                <h1 class="search__section__title">¿Qué serie vemos hoy?</h1>
                <label for="" class="visually-hidden">Introduce el título de la serie</label>
                <input type="text" class="search__input">
                <button class="search__button" type="button">Buscar</button>
                <button class="log__button">Log</button>
            </section>
            <section class="results-section">
                <h2 class="results-section__title">Resultados</h2>
                <ul class="results-list"></ul>
            </section>
            <section class="favorite-section">
                <h2 class="favorite-section__title">Mis series favoritas</h2>
                <ul class="favorite-list"></ul>
            </section>
        </main>
        <script src="assets/js/main.js"></script>
    </body>
</html>