<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=500, initial-scale=1">
        <title>Adalab Web Starter Kit</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    
    <body>
        <main class="main-page">
            <div class="search__section">
                <label for="" class="search__label">¿Qué serie vemos hoy?</label>
                <input type="text" class="search__input">
            </div>
            <div class="results__section">

            </div>
        </main>
        
        <script src="assets/js/main.js"></script>
    </body>

</html>