.favorite {
    @extend .results-section__card;
    height: 200px;
    width: 120px;

    &__title {
        margin: 10px 0;
        font-size: 20px;
        text-align: center;
    }

    &-erase {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    &__image {
        margin-top: 25px;
        height: 120px;
        width: 80px;
        background-size: cover;
        background-position: center;
    }
}