.favorite {
    @extend .results-section__card;
    height: 200px;
    width: 120px;

    h2 {
        margin-top: 10px;
        font-size: 20px;
    }

    .favorite-erase {
        position: absolute;
        top: 7px;
        right: 7px;
    }

    .favorite-section__image {
        margin-top: 25px;
        height: 120px;
        width: 80px;
        background-size: cover;
        background-position: center;
    }
}