.results-section__card {
    height: 400px;
    width: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #eee;
    border: 1px solid lightgrey;
    margin: 10px;

    &--selected {
        background-color: $color-selected;
        color: $color-white;
    }

    .results-card__title {
        margin-top: 10px;
    }

    .results-card__image {
        margin-top: 25px;
        height: 295px;
        width: 210px;
    }
}